.Header h3 {
  color: floralwhite;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  padding-left: 15px;
  padding-bottom: 0;
  text-transform: capitalize;
}

.top-header {
  padding-top: 30px;
}

.what-is-today {
  color: floralwhite;
  font-weight: bold;
  list-style-type: none;
  text-align: right;
  padding-right: 15px;
  padding-top: 35px;
}
